.header-item {
  color: #00254c;
  /* margin-right: 1vh; */
  font-size: 20px;
  padding: 10px;
  border: 2px solid #00254c;
  border-radius: 2px;
}

.header{
  margin-right: 2%;
}

.header-item:focus, .header-item-text:focus{
  outline: none;
}

@media screen and (max-width: 500px) {
  .header-item {
    font-size:15px;
    padding: 8px;
    border: 2px solid #00254c;
    border-radius: 2px;
  }
}
