<div class="icon-container height" fxLayoutAlign="center center" fxLayoutGap="5%">
    <a  href="https://www.linkedin.com/in/ekeyur" target="_blank"><i appFooterHover class="footer-item fa fa-linkedin-square fa-2x"></i></a>
    <a  href="https://github.com/ekeyur" target="_blank"><i appFooterHover class="footer-item fa fa-github-square fa-2x"></i></a>
    <a  href="Keyur_Patel_2017.pdf" target="_blank"><i appFooterHover class="footer-item fa fa-file-pdf-o fa-2x"></i></a>
    <a  href="https://medium.com/@ekeyur" target="_blank"><i appFooterHover class="footer-item fa fa-medium fa-2x"></i></a>
    <a  href="mailto:ekeyur@gmail.com"><i appFooterHover class="footer-item envelope fa fa-envelope fa-2x" aria-hidden="true"></i></a>
</div>