.text {
    color: #00254c;
    font-size: 1em;
    font-family: 'Open Sans', 'sans-serif';
    line-height: 1.5;
    overflow: auto;
}

.text-container{
    max-width: 80%;
    border: 4px solid #00254c;
    padding: 30px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.3em;
    overflow: auto;
}

.languages-container{
    /* border: 2px solid red; */
    padding: 30px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.1em;
    color: #00254c;
    border: 4px solid rgba(238, 178, 17,.7);
}

i {
    font-size: 4em;
    color: #00254c;
}

i:hover {
    color:rgba(238, 178, 17,.7);
}

@media screen and (max-width: 945px) {
    .languages-container{
        padding: 20px;
        font-size: .8em;
       }
       .text-container{
        padding: 20px;
        font-size: 1em;
        }
        .text{
            padding: 20px;
            font-size: 1em;
            }

    }

    @media screen and (max-width: 500px) {
        .text{
            font-size: .8em;
            padding: 10px;
            }
    }