<div class="height" fxLayoutAlign="center center">
    <div class="text-container" >
        <span class="text"> Hi, My name is Keyur Patel. I graduated from Georgia Tech as an Industrial Engineer. I have over 6 years of consulting, 2 years of product management experience and recently, have added full stack web development to my skillset. I am passionate about building things that solve simple problems we face in everyday life. In my free time, I like to run, challenge others in a friendly game of ping pong and explore the ever changing field of programming. </span>
        <span style="margin-top: 25px;" class="text">I develop in JavaScript, AngularJS, Angular4, NodeJS, Express, Python, Flask, Github, BootStrap, CSS3, HTML5, PostGreSQL, MongoDB. I am currently learning Angular4 and VueJS. I would like to work in a FullStack environment, but I can easily transition between front and back end.  </span>            
    </div>
</div>