<div class="height" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2%">
    <div fxLayout="row" fxFlex="60%" class="height" fxLayoutAlign="space-around">
        <div fxFlex="45%" class="height languages-container">
            <div fxLayout="row" fxLayoutGap="5%" fxLayoutWrap = "wrap" fxLayoutAlign="center center" class="height">
                <i class="icon-javascript"></i>
                <i class="icon-mongodb"></i>
                <i class="icon-python"></i>
                <i class="icon-angular"></i>
                <i class="icon-jquery"></i>
                <i class="icon-nodejs"></i>
                <i class="icon-postgres"></i>
                <i class="icon-ubuntu"></i>
            </div>
        </div>
        <div fxFlex="45%" fxLayoutAlign="center center" class="height languages-container open-sans">
                <span class="text"> Hi, My name is Keyur Patel. I graduated from Georgia Tech as an Industrial Engineer. I have over 6 years of consulting, 2 years of product management experience and recently, have added full stack web development to my skillset. I am passionate about building things that solve simple problems we face in everyday life. In my free time, I like to run, challenge others in a friendly game of ping pong and explore the ever changing field of programming.</span>  
        </div>
    </div>
    <div class="text-container" >
            <span>I develop in JavaScript, AngularJS, Angular4, NodeJS, Express, Python, Flask, Github, BootStrap, CSS3, HTML5, PostGreSQL, MongoDB. I am currently learning Angular4 and VueJS. I would like to work in a FullStack environment, but I can easily transition between front and back end.  </span> 
                    
    </div>
</div>