<div fxLayout="row">
  
  <div fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center space-around" fxWrap="wrap">
    <div class="header type-writer">Things I Know</div>
    <div fxLayout="row" fxLayoutAlign="center space-around" fxWrap="wrap">
      <div fxLayout="column">
          <i class="icon-javascript"></i>
          <span>JavaScript</span>
      </div>

      <div fxLayout="column">
          <i class="icon-mongodb"></i>
          <span>MongoDB</span>
      </div>

      <div fxLayout="column">
          <i class="icon-python"></i>
          <span>Python</span>
      </div>

      <div fxLayout="column">
          <i class="icon-angular"></i>
          <span>AngularJS</span>
      </div>

      <div fxLayout="column">
          <i class="icon-jquery"></i>
          <span>JQuery</span>
      </div>

      <div fxLayout="column">
          <i class="icon-nodejs"></i>
          <span>NodeJS</span>
      </div>

      <div fxLayout="column">
          <i class="icon-postgres"></i>
          <span>PostGreSQL</span>
      </div>

      <div fxLayout="column">
          <i class="icon-ubuntu"></i>
          <span>Ubuntu</span>
      </div>
    </div>
  </div>
  <!-- <div fxLayout="row" fxFlex="50" fxLayoutAlign="center center" fxWrap="wrap">
      <div class="header">

      </div>
  </div> -->
</div>