<div class="portfolio height" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap=".7%">        
    <div class="height block"
            fxFlex="3 3 auto" 
            fxLayout="column" 
            fxLayout.sm="row"
            fxLayoutGap="2%"
            fxLayoutAlign="space-around space-around">
        <span class="project-links type-writer" 
            fxFlex="1 1 auto" 
            fxLayout="row"
            appHighlight
            [@listAnim]
            fxLayoutAlign="center center"
            *ngFor="let project of projects; let i=index"
             [routerLink] = "['/portfolio', i ]">
            {{project.project_name}}     
        </span>
    </div>
    <div class="project-container height block" fxFlex="75%">
        <router-outlet></router-outlet>  
    </div>  
</div>

